.container-fluid(ng-controller='PersonaEditController as person')
    .row
        .col-md-12
            .panel.panel-warning
                .panel-heading
                    strong Editar Persona
                .panel-body
                    form.form-validate.form-horizontal(name='person.formValidate', ng-submit='person.submitPerson()', novalidate='', autocomplete="off")
                        .form-group
                            label.col-sm-1.control-label Nombre
                            .col-sm-10(ng-class="{'has-error': person.formValidate.nombre.$invalid && !person.formValidate.nombre.$pristine}")
                                input.form-control(id='nombre',placeholder='Nombre', type='text', name='nombre', ng-model='person.model.nombre', value='')
                                .text-danger(ng-messages='person.formValidate.nombre.$error', ng-show='person.formValidate.nombre.$invalid && !person.formValidate.nombre.$pristine')
                                    div(ng-message='required') Campo requerido

                        .form-group(ng-if='person.isEmpleado')
                            label.col-sm-4.control-label Fecha de último pago: {{person.model.fecha_pago | date:'dd/MM/yyyy - HH:mm'}}
                            label.col-sm-2.control-label Inicio de Labores
                            .col-sm-4
                                .input-group
                                    input.form-control(uib-datepicker-popup="dd/MM/yyyy", name="fecha_labores", type="text",
                                    ng-model="person.model.fecha_labores", is-open='person.dateOpened2', close-text="Cerrar", clear-text="Limpiar", current-text="Hoy")
                                    span.input-group-btn
                                        button.btn.btn-default(type='button', ng-click='person.openDate2($event)')
                                            em.fa.fa-calendar

                        .form-group
                            label.col-sm-2.control-label Tipo de Persona
                            .col-sm-2(ng-class="{'has-error': person.formValidate.tipo_persona.$invalid && !person.formValidate.tipo_persona.$pristine}")
                                .input-group
                                    select.chosen-select.input-md(name='tipersona', data-placeholder='Seleccione...', ng-options='item.nombre for item in person.listaTipopersona', class="form-control", ng-model='person.tipopersona')
                                    
                                    .text-danger(ng-messages="person.formValidate.tipo_persona.$error", ng-show="person.formValidate.tipo_persona.$dirty" role="alert")

                            label.col-sm-2.control-label Direccion
                            .col-sm-4(ng-class="{'has-error': person.formValidate.direccion.$invalid && !person.formValidate.direccion.$pristine}")
                                input.form-control(id='direccion', placeholder='Direccion', type='text', name='direccion', ng-model='person.model.direccion', value='')
                                .text-danger(ng-messages='person.formValidate.direccion.$error', ng-show='person.formValidate.direccion.$invalid && !person.formValidate.direccion.$pristine')
                                    div(ng-message='minlength') Direccion requerida

                        .form-group(ng-if='person.isEmpleado')
                            .row
                                label.col-sm-1.col-sm-offset-1.control-label Telefono
                                .col-sm-2
                                    input.form-control(placeholder='Telefono', type='text', name='telefono', ng-model='person.model.telefono', value='')

                                label.col-sm-2.control-label Identificacion
                                .col-sm-4(ng-class="{'has-error': person.formValidate.identificacion.$invalid && !person.formValidate.identificacion.$pristine}")
                                    input.form-control(placeholder='identificacion', name='identificacion', type='text', ng-model='person.model.identificacion',
                                    value='', ng-maxlength='45')
                                    .text-danger(ng-messages='person.formValidate.identificacion.$error', ng-show='person.formValidate.identificacion.$invalid && !person.formValidate.identificacion.$pristine')
                                        div(ng-message='maxlength') Identificacion muy largo
                            br
                            .row
                                label.col-sm-2.control-label Nit
                                .col-sm-2
                                    input.form-control(placeholder='Nit', type='text', name='nit', ng-model='person.model.nit', value='', ng-maxlength='10')

                                label.col-sm-2.control-label Clasificación
                                .col-sm-4(ng-class="{'has-error': person.formValidate.clasificacion.$invalid && !person.formValidate.clasificacion.$pristine}")
                                    select.form-control(name="clasificacion" placeholder='Seleccione...', ng-model='person.model.clasificacion_empleado',
                                    ng-options="miclasi.nombre for miclasi in person.clasificaciones track by miclasi.id")
                                        option(value='') Seleccione una opcion
                            br
                            .row(ng-if='person.isEmpleado && !person.isChica')
                                label.col-sm-2.control-label Sueldo Base
                                .col-sm-2(ng-class="{'has-error': person.formValidate.sueldo_cuenta.$invalid && !person.formValidate.sueldo_cuenta.$pristine}")
                                    input.form-control(placeholder='Sueldo', name='sueldo_cuenta', type="number", min="0", ng-model='person.model.sueldo_cuenta')
                                    .text-danger(ng-messages='person.formValidate.sueldo_cuenta.$error', ng-show='person.formValidate.sueldo_cuenta.$invalid && !person.formValidate.sueldo_cuenta.$pristine')

                                label.col-sm-2.control-label Tipo de Usuario
                                .col-sm-4
                                    select.form-control(name="grupo", ng-model='person.model.grupo',
                                    ng-options="grupo.text for grupo in person.grupos track by grupo.value", ng-change='person.change()')
                                        option(value='') Seleccione una opcion

                        .form-group(ng-if='person.isEmpleado')
                            label.col-sm-3.control-label Es Encargado de Cortesías
                            .col-sm-1
                                .checkbox.c-checkbox
                                    label
                                        input(type='checkbox', ng-model='person.model.cortesias')
                                        span.fa.fa-check
                                        |  Si

                            label.col-sm-2.control-label Puede Anular Ordenes
                            .col-sm-1
                                .checkbox.c-checkbox
                                    label
                                        input(type='checkbox', ng-model='person.model.anulaciones')
                                        span.fa.fa-check
                                        |  Si
                                        
                        .form-group(ng-if='person.isEmpleado && person.isChica')
                            .row
                                label.col-sm-2.control-label Porcentaje de Privados
                                .col-sm-2
                                    input.form-control(placeholder='Porcentaje', type='number', name='porcentaje_chica', min="0", ng-model='person.model.porcentaje_chica')
                                    .text-danger(ng-messages='person.formValidate.porcentaje_chica.$error', ng-show='person.formValidate.porcentaje_chica.$invalid && !person.formValidate.porcentaje_chica.$pristine')
                                        //- div(ng-message='required') Campo requerido

                        .form-group(ng-if='!person.isEmpleado')
                            label.col-sm-2.control-label Telefono
                            .col-sm-2
                                input.form-control(placeholder='Telefono', type='text', name='telefono', ng-model='person.model.telefono', value='')

                            label.col-sm-2.control-label Nit
                            .col-sm-4
                                input.form-control(placeholder='Nit', type='text', name='nit', ng-model='person.model.nit', value='', ng-maxlength='10')

                        .form-group
                            label.col-sm-2.control-label Codigo de Barra
                            .col-sm-2
                                .checkbox.c-checkbox
                                    label
                                        input(type='checkbox', ng-model='person.model.codigo_barra')
                                        span.fa.fa-check
                                        |  Si

                        .form-group(ng-show='person.isUsuario')
                            label.col-sm-2.control-label Es Usuario
                            .col-sm-1
                                .checkbox.c-checkbox
                                    label
                                        input(type='checkbox', ng-model='person.isUsuario', ng-change='person.esUsuario()')
                                        span.fa.fa-check
                                        |  Si
                        .form-group(ng-if='person.isUsuario')
                            label.col-sm-2.control-label Nick
                            .col-sm-2(ng-class="{'has-error': person.formValidate.username.$invalid && !person.formValidate.username.$pristine}")
                                input.form-control(id='username', placeholder='Nick', type='text', name='username', ng-model='person.usuario.username', value='')
                                .text-danger(ng-messages='person.formValidate.username.$error', ng-show='person.formValidate.username.$invalid && !person.formValidate.username.$pristine')
                                    //- div(ng-message='required') Campo requerido
                                    div(ng-message='maxlength') Nick es muy largo
                            label.col-sm-2.control-label Impresora Designada
                            .col-sm-4(ng-class="{'has-error': person.formValidate.clasificacion.$invalid && !person.formValidate.clasificacion.$pristine}")
                                select.form-control(name="grupo" placeholder='Seleccione...', ng-required='person.isEmpleado', ng-model='person.model.impresora')
                                    option(value='') Seleccione una opcion
                                    option(ng-repeat="impresora in person.impresoras" value='{{impresora.printer}}') {{impresora.printer}}

                        .form-group(ng-show='person.isUsuario')
                            label.col-sm-2.control-label Contraseña
                            .col-sm-3
                                input.form-control(id='password', placeholder='Contraseña', type='password', name='password1', ng-model='person.password1', value='')

                            label.col-sm-2.control-label Confirmar Contraseña
                            .col-sm-3
                                input.form-control(id='password2', placeholder='Contraseña', type='password', name='password2', ng-model='person.password2', value='')
                        .form-group(ng-show="person.isEmpleado")
                            .col-sm-1
                            .col-sm-2.text-left
                                label.control-label Fecha
                            .col-sm-2.text-left
                                label.control-label Tipo
                            .col-sm-5.text-left
                                label.control-label Observación

                    form.form-validate.form-horizontal(name='person.formHistorial', ng-submit='person.agrega_historial()', novalidate='')
                        .form-group(ng-show="person.isEmpleado")
                            .col-sm-1
                            .col-sm-2
                                .input-group
                                    input.form-control(uib-datepicker-popup="dd/MM/yyyy", name="fecha", type="text",
                                    ng-model="person.historial.fecha", is-open='person.dateOpened', close-text="Cerrar", clear-text="Limpiar", current-text="Hoy")
                                    span.input-group-btn
                                        button.btn.btn-default(type='button', ng-click='person.openDate($event)')
                                            em.fa.fa-calendar
                                    .text-danger(ng-messages="person.formHistorial.fecha.$error", ng-show="person.formHistorial.fecha.$dirty" role="alert")
                                        div(ng-message="date") Debe de ser una fecha
                                        //- div(ng-message="required") Fecha es obligatoria
                            .col-sm-2
                                select.form-control(name="tipo" placeholder='Seleccione...', ng-options="item.nombre for item in person.tipos_historial track by item.id", ng-model='person.historial.tipo')
                                    option(value='')
                            .col-sm-5
                                input.form-control(name="observacion", ng-model="person.historial.observacion")
                            .col-sm-2
                                span.input-group-btn
                                    button.btn.btn-info(type="button" ng-click="person.agregar_historial()", ng-disabled='person.formHistorial.$invalid')
                                        strong
                                            i.fa.fa-search  Agregar

                        .col-sm-12(ng-show="person.isEmpleado")
                            .panel.panel-info
                                .panel-heading
                                    strong Historial de Contratación
                                // START table-responsive
                                .table-responsive
                                    table.table.table-striped.table-hover
                                        thead
                                            tr
                                                th(width="15%") Fecha
                                                th(width="15%") Tipo
                                                th(width="60%") Observación
                                        tbody
                                            tr(ng-repeat="item in person.model.historial_contratacion")
                                                td {{ item.fecha | date:'dd/MM/yyyy' }}
                                                td(ng-if="item.tipo == 1")
                                                    | Contratado
                                                td(ng-if="item.tipo == 2")
                                                    | Re-Contratado
                                                td(ng-if="item.tipo == 3")
                                                    | Despido
                                                td(ng-if="item.tipo == 4")
                                                    | Renuncia
                                                td {{ item.observacion }}

                .panel-footer(ng-controller="PersonaController as eliminar")
                    .row
                        .col-sm-6.text-left
                            button.btn.btn-danger(type="button",  ng-click='eliminar.removePersona(person.model.id)', title="Eliminar")
                                i.fa.fa-trash-o  Eliminar esta persona
                        .col-sm-6.text-right
                            button.btn.btn-default(type="button", ui-sref='app.persona.lista()')
                                i.fa.fa-times-circle
                                |  Cancelar
                            button.btn.btn-info(type='submit', ng-disabled='person.formValidate.$invalid', ng-click="person.submitPerson()")
                                |  Guardar

script(type="text/ng-template", id="addTipo.html")
    .modal-header
        h3.modal-title Ingresar Nuevo Tipo de Persona
    .modal-body
        .alert.alert-danger(ng-show='tipos.errMsg') {{tipos.errMsg}}
        .row
            .col-md-12
                form.form-validate.form-horizontal(name='tipos.formValidate', ng-submit='tipos.ok()', novalidate='')
                    .form-group
                        label.col-sm-2.control-label Nombre
                        .col-sm-10
                            input.form-control(placeholder='Nombre', type='text', name='nombre', ng-model='tipos.model.nombre')
                            .text-danger(ng-messages='tipos.formValidate.nombre.$error', ng-show='tipos.formValidate.nombre.$invalid && !tipos.formValidate.nombre.$pristine')
                                //- div(ng-message='required') Campo requerido
    .modal-footer
        button.btn.btn-primary(type="button", ng-disabled="tipos.formValidate.$invalid", ng-click="tipos.ok()")
            i.fa.fa-floppy-o
            |  Guardar
        button.btn.btn-default(type="button", ng-click="tipos.cancel()")
            i.fa.fa-times-circle
            |  Cancelar

script(type="text/ng-template", id="barcode.html")
    .modal-header
        h3.modal-title Nuevo Codigo de Barra de {{ctrl.persona.nombre}}
    .modal-body
        .alert.alert-danger(ng-show='ctrl.errMsg') {{ctrl.errMsg}}
        .row
            .col-md-12(print-section)
                span.codeBar 
                    | *{{ctrl.persona.hash_codigo_barra}}*
                .ioSection(ng-repeat="n in [0,1,2,3,4,5]")
                    span.codeBar 
                        | *{{ctrl.persona.hash_codigo_barra}}*
    .modal-footer
        button.btn.btn-info(type="button" print-btn)
            i.fa.fa-print
            |  Imprimir
        button.btn.btn-default(type="button", ng-click="ctrl.cancel()")
            i.fa.fa-times-circle
            |  Cancelar
